<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
</head>

<body>

  <header>
    <h1>logo</h1>
    <h1>Game Node</h1>
    <h1>Game Node</h1>
  </header>

  <main>
    <section class="listOfSearchedGames">

      <% listOfVideoGames.forEach(videoGame => { %>  
        <p><%= videoGame.id; %></p>
        <p><%= videoGame.name; %></p>
        <p><%= videoGame.summary; %></p>
        <p><%= videoGame.category; %></p>
        <p><%= videoGame.release_date  %></p>
      <% }) %>

    </section>
  </main>

  Game List Partial
  <section>
    <img>
    <h3>Title</h3>
    <h3>ESRB</h3>
  </section>

  <footer>
      <%-include('../partials/footer')%>
  </footer>
  
</body>
</html>