
<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
</head>

<body>
  <header>
    <%-include('../partials/header')%>
  </header>
  <main>

    <section class="listOfSearchedGames">
      <% listOfVideoGames.forEach(videoGame => { %>  
        <img src="<%= videoGame.coverUrl; %>"/>
        <p><%=videoGame.name;%></p>
        <p><%=videoGame.genres%></p>
        <p>Release Date: <%=videoGame.releaseDate%></p>
        <p><%= videoGame.summary;%></p>
        <button class="selectGame" type="submit">Select This Game</button>
        
        <section class="videoGameDetailsForm hideMe">
            <form action="/games/detail" method="POST">
              <input type="text" name="coverUrl" value="<%= videoGame.coverUrl %>" required>
              <input type="text" name="name" value="<%= videoGame.name %>" required>
              <input type="text" name="genres" value="<%= videoGame.genres %>" required>
              <input type="text" name="releaseDate" value="<%= videoGame.releaseDate %>" required>
              <input type="text" name="summary" value="<%= videoGame.summary %>" required>
              <button type="submit">Add to Database</button>
            </form>
        </section>
      <% }) %>
    </section>
  </main>

  <footer>
      <%-include('../partials/footer')%>
  </footer>
  
</body>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>



</html>