
<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
</head>

<body>

  <header>
    <%-include('../partials/header')%>
  </header>

  <main>
    <section class="listOfSearchedGames">


      <% listOfVideoGames.forEach(videoGame => { %>  
        <p>Title:<%= videoGame.name; %></p>
        <img src="<%= videoGame.cover_url; %>"/>
        <p>Summary:<%= videoGame.summary; %></p>
        <p>Category:<%= videoGame.category; %></p>
        <p>Release Date:<%= videoGame.release_date  %></p>
        <p>Genre:<%= videoGame.genres  %></p>
        <p> Platforms: <%= videoGame.platforms %> </p>
    
            
            
           <section class="videoGameDetails">
            <form action="/detail" method="POST">
              <input type="text" name="title" value="<%= videoGame.name %>" required>
              <input type="text" name="summary" value="<%= videoGame.id %>" required>
              <button type="submit">See Game Details</button>
            </form>
          </section>
        </div>

      <% }) %>
    </section>
  </main>

  Game List Partial
  <section>
    <img>
    <h3>Title</h3>
    <h3>ESRB</h3>
  </section>

  <footer>
      <%-include('../partials/footer')%>
  </footer>
  
</body>
</html>