
<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
</head>

<body>
  <header>
    <%-include('../partials/header')%>
  </header>
  <main>

    <section class="listOfSearchedGames">
      <% listOfVideoGames.forEach(videoGame => { %>  

        <img src="<%= videoGame.cover_url; %>"/>
        <p><%=videoGame.name;%></p>

        <p><%=videoGame.genres%></p>
        <p>Release Date: <%=videoGame.release_date%></p>
        <p><%= videoGame.summary;%></p>
        <p>Rating out of 100: <%= videoGame.rating;%></p>
        <p>Platform: <%=videoGame.platforms%></p>
        <p>Multiplayer: <%=videoGame.gameMode%></p>
        <p>Company: <%=videoGame.company%></p>
        <button class="selectGame" type="submit">Select This Game</button>
        
        <section class="videoGameDetailsForm hideMe">
            <form action="/games/detail" method="POST">
              <input type="text" name="cover_url" value="<%= videoGame.cover_url %>" required>
              <input type="text" name="name" value="<%= videoGame.name %>" required>
              <input type="text" name="genres" value="<%= videoGame.genres %>" required>
              <input type="text" name="release_date" value="<%= videoGame.release_date %>" required>
              <input type="text" name="summary" value="<%= videoGame.summary %>" required>
              <button type="submit">Add to Database</button>
            </form>
        </section>
      <% }) %>
    </section>
  </main>

  <footer>
      <%-include('../partials/footer')%>
  </footer>
   <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
</body>
</html>