
<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
</head>

<body>
  <header>
    <%-include('../partials/header')%>
  </header>
  <main>

    <section class="listOfSearchedGames">
      <% listOfVideoGames.forEach(videoGame => { %>  
        <section>
          <img src="<%= videoGame.cover_url; %>"/>
          <h1><b>Title:</b> <%=videoGame.name;%></h1>
          <h2><b>Genre:</b> <%= videoGame.genres;%></h2>
          <h4><b>Rating:</b> <%= videoGame.rating;%></h4>
          <button class="selectGame" type="submit">Select This Game</button>
            
            <form class="hideMe" action="/games/detail" method="POST">
              <input class="hideMe" type="text" name="cover_url" value="<%= videoGame.cover_url %>" required>
              <input class="hideMe" type="text" name="name" placeholder="title" value="<%= videoGame.name %>" required>
              <input class="hideMe" type="text" name="genres" placeholder="genres" value="<%= videoGame.genres %>" required>
              <input class="hideMe" type="text" name="release_date" placeholder="release date" value="<%= videoGame.release_date %>" required>
              <input class="hideMe" type="text" name="summary" placeholder="summary" value="<%= videoGame.summary %>" required>
              <input class="hideMe" type="text" name="platforms" placeholder="platforms" value="<%= videoGame.platforms %>" required>
              <input class="hideMe" type="text" name="company" placeholder="company" value="<%= videoGame.company %>" required>
              <input class="hideMe" type="text" name="game_mode" placeholder="multiplayer" value="<%= videoGame.game_mode %>" required>
              <input class="hideMe" type="text" name="rating" placeholder="rating" value="<%= videoGame.rating %>" required>
               <input id="checkBox" type="checkbox" name="is_played" value="true">Played?<br>
              <button  type="submit">Add to Database</button>
            </form>
        </section>
      <% }) %>
    </section>
  </main>

  <footer>
      <%-include('../partials/footer')%>
  </footer>
  
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
</body>
</html>